<h3>Sold Items</h3>
<table class="table table-striped">
	<thead>
		<th>Brand</th>
		<th>Color</th>
		<th>IMEI</th>
		<th>Purchase Price</th>
		<th>Sold Price</th>
		<th>Sold By</th>
		<th>Buyer</th>
		<th>Sold Date</th>
		<th>Status</th>
		<th>Actions</th>
	</thead>
	<tbody>
		<% @phones && @phones.each do |phone| %>
			<tr>
				<td><%= phone.brand%></td>
				<td><%= phone.color%></td>
				<td><%= phone.emei%></td>
				<td><%= phone.price%></td>
				<td><%= phone.sold_price%></td>
				<td><%= phone.slod_by%></td>
				<td><%= phone.buyer%></td>
				<td><%= phone.sold_date%></td>
				<td><%= phone.status%></td>
				<td>
					<%= link_to "Return", return_phone_path(phone), class: "btn btn-sm btn-warning"%>	
					<%= link_to "Edit", sold_phone_path(phone), class: "btn btn-sm btn-primary"%>
					<% if !Profit.where(:phone_id=> phone.id, :user_id=> current_user.id).first.present? %>
					<%= link_to "profit?", phone_profits_path(phone), :method=>"post",class: "btn btn-sm btn-success"%>
					<% else %>
						<%= link_to "Done!", "#",class: "btn btn-sm btn-info", :disabled=>true%>
					<% end %>
					<%#= link_to 'Delete', phone, data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-sm btn-danger" %>
				</td>

			</tr>
		<% end %>			
	</tbody>
</table>
