<% if current_user.present? %>
    <%= link_to "PhoneSale", phones_path, :class => 'brand' %>
    <ul class="nav">

      <% if user_signed_in? %>
          <li>
            <%= link_to 'In Stock', phones_path %>
          </li>
          <li>
            <%= link_to 'Add Product', new_phone_path %>
          </li>
          <li><%= link_to 'Sold Products', soldOut_phones_path %></li>
          <li><%= link_to 'Your Profits', profits_path %></li>         
      <% end %>
      <% if user_signed_in? %>
          <li class="offset3">
          <%= link_to 'Logout', destroy_user_session_path , method: :delete %>
          </li>
      <% else %>
        <li  class="offset8">
        <%= link_to 'Login', new_user_session_path, :class=>"pull-right" %>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li>
        <%= link_to 'Edit account', edit_user_registration_path, :class=>"pull-right" %>
        </li>
      <% end %>
    </ul>
<% else %>
  <ul class="nav">
    <%= link_to "PhoneSale", root_path, :class => 'brand' %>
    <li  class="offset8">
      <%= link_to 'Login', new_user_session_path, :class=>"pull-right" %>
    </li>
  </ul>
<% end %>
